:root {
  --card-max-width: 640px;
  --card-max-height: 400px;
  --card-thickness: 10px;
}

/* 
 * The card padding represents the real space the card section
 * occupies while scrolling. It's here to create a fake padding
 * so that the following elements are correctly positioned.
 */
.card-padding {
  width: 1px;
  height: 100vh;
}

.card-scene {
  width: 40vw;
  height: 25vw;
  max-width: var(--card-max-width);
  max-height: var(--card-max-height);
  perspective: 4000px;
}

.card {
  max-width: var(--card-max-width);
  max-height: var(--card-max-height);
  position: relative;
  transform-style: preserve-3d;
  transform-origin: calc(0.5 * var(--card-max-width))
    calc(0.5 * var(--card-max-height));
  transform: translateZ(calc(-0.5 * var(--card-thickness)));
}

.card-face {
  position: absolute;
}

.card-face-front,
.card-face-back {
  width: 100%;
}

.card-face-right,
.card-face-left {
  width: var(--card-thickness);
  height: var(--card-max-height);
  left: calc(0.5 * var(--card-max-width) - 0.5 * var(--card-thickness));
}

.card-face-top,
.card-face-bottom {
  width: var(--card-max-width);
  height: var(--card-thickness);
  top: calc(0.5 * var(--card-max-height) - 0.5 * var(--card-thickness));
}

.card-face-front {
  transform: rotateY(0deg) translateZ(calc(0.5 * var(--card-thickness)));
}

.card-face-back {
  transform: rotateY(180deg) rotateZ(180deg)
    translateZ(calc(0.5 * var(--card-thickness)));
}

.card-face-right {
  transform: rotateY(90deg) translateZ(calc(0.5 * var(--card-max-width)));
}

.card-face-left {
  transform: rotateY(-90deg) translateZ(calc(0.5 * var(--card-max-width)));
}

.card-face-top {
  transform: rotateX(90deg) translateZ(calc(0.5 * var(--card-max-height)));
}

.card-face-bottom {
  transform: rotateX(-90deg) translateZ(calc(0.5 * var(--card-max-height)));
}
