:root {
  --card-max-width: 640px;
  --card-max-height: 400px;
  --card-thickness: 10px;
}

.card-padding {
  width: 1px;
  height: 900px;
}

.card-scene {
  width: 40vw;
  height: 30vw;
  max-width: var(--card-max-width);
  max-height: var(--card-max-height);
  perspective: 900px;
}

.card {
  width: 40vw;
  height: 30vw;
  max-width: var(--card-max-width);
  max-height: var(--card-max-height);
  position: relative;
  transform-style: preserve-3d;
  transform-origin: calc(0.5 * var(--card-max-width))
    calc(0.5 * var(--card-max-height));
  transform: translateZ(calc(-0.5 * var(--card-thickness)));
}

.card__face {
  position: absolute;
}

.card__face--front,
.card__face--back {
  width: var(--card-max-width);
  height: var(--card-max-height);
}

.card__face--right,
.card__face--left {
  width: var(--card-thickness);
  height: var(--card-max-height);
  left: calc(0.5 * var(--card-max-width) - 0.5 * var(--card-thickness));
}

.card__face--top,
.card__face--bottom {
  width: var(--card-max-width);
  height: var(--card-thickness);
  top: calc(0.5 * var(--card-max-height) - 0.5 * var(--card-thickness));
}

.card__face--front {
  transform: rotateY(0deg) translateZ(calc(0.5 * var(--card-thickness)));
}
.card__face--back {
  transform: rotateY(180deg) rotateZ(180deg)
    translateZ(calc(0.5 * var(--card-thickness)));
}

.card__face--right {
  transform: rotateY(90deg) translateZ(calc(0.5 * var(--card-max-width)));
}
.card__face--left {
  transform: rotateY(-90deg) translateZ(calc(0.5 * var(--card-max-width)));
}

.card__face--top {
  transform: rotateX(90deg) translateZ(calc(0.5 * var(--card-max-height)));
}
.card__face--bottom {
  transform: rotateX(-90deg) translateZ(calc(0.5 * var(--card-max-height)));
}
