.h-underline {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.h-underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 2;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.h-underline:hover:after {
  width: 100%;
  left: 0;
}
