#i-am {
  font-size: 2.5vw;
}

#i-am .hi {
  font-size: 5vw;
}

#i-am .sergio {
  font-size: 6vw;
}

#software-developer {
  font-size: 1.5vw;
}

#software-developer .sd {
  font-size: 2.5vw;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  #i-am {
    font-size: 4vw;
  }

  #i-am .hi {
    font-size: 10vw;
  }

  #i-am .sergio {
    font-size: 12vw;
  }

  #software-developer {
    font-size: 3vw;
  }

  #software-developer .sd {
    font-size: 4vw;
  }
}

.collapsable {
  overflow: hidden;
  margin-top: 1rem;
  max-height: 500px;
  opacity: 1;
  transition: max-height 2s ease-out, margin 0.2s ease-out, opacity 1s ease-out;
}

.collapsed {
  margin: 0;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.2s ease-out;
}
