#intro-container {
  transition: transform 0.2s ease-out;
}

#introduction {
  font-size: 4vw;
}

#introduction#hi {
  font-size: 10vw;
}

#introduction .sergio {
  font-size: 12vw;
}

#software-developer {
  text-align: center;
  font-size: 5vw;
}

#software-developer .sd {
  font-size: 7vw;
}

#working-remotely {
  display: inline-block;
  margin-top: 0.5rem;
}

.intro-sticky {
  font-size: 1rem;
}

.slide-container {
  position: relative;
  overflow: hidden;
  height: 15vw;
  text-align: center;
}

.slide-up {
  position: relative;
  animation: slide-up ease 0.6s forwards 0.2s;
  top: 120px;
}

.intro-padding {
  width: 10px;
  height: calc(50vh + 100px);
}

@keyframes slide-up {
  0% {
    top: 120px;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

.slide-down {
  animation: fade-in ease 2s forwards 2s, slide-down ease 2s forwards 4s;
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    margin-bottom: 20px;
  }
  100% {
    opacity: 0.2;
    margin-bottom: 0px;
  }
}

@keyframes slide-down {
  0% {
    margin-bottom: 0px;
  }
  100% {
    margin-bottom: -20px;
    opacity: 0;
  }
}

@media screen and (min-width: 30em) {
  #introduction {
    font-size: 2.5vw;
  }

  #introduction#hi {
    font-size: 5vw;
  }

  #introduction .sergio {
    font-size: 6vw;
  }

  #software-developer {
    text-align: start;
    font-size: 1.5vw;
  }

  #software-developer .sd {
    font-size: 2vw;
  }

  #working-remotely {
    display: unset;
  }

  .intro-sticky {
    font-size: 1.5vw;
  }

  .slide-container {
    height: 6.5vw;
    text-align: start;
  }
}
