/* Colors */

:root {
  --ink: #262931;
  --ink-60: #7d7f83;
  --ink-40: #a8aaad;
  --ink-20: #d4d4d6;
  --light: #fffbf0;
  --brand: #ffbd3e;
}

.bg-ink {
  background-color: var(--ink);
}

.bg-ink-20 {
  background-color: var(--ink-20);
}

.bg-light {
  background-color: var(--light);
}

.ink {
  color: var(--ink);
}

.ink-60 {
  color: var(--ink-60);
}

.ink-20 {
  color: var(--ink-20);
}

.light {
  color: var(--light);
}

/* Fonts */

.f-title {
  font-family: "Georama", sans-serif;
}

.f-default {
  font-family: "Epilogue", sans-serif;
  line-height: 1.25;
}

/* Shadows */

.drop-shadow-m {
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2));
}

.drop-up-shadow-m {
  filter: drop-shadow(0px -4px 2px rgba(0, 0, 0, 0.2));
}

.shadow-xs {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.shadow-xl {
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.2);
}

/* Dimensions */

.bottom-3 {
  bottom: 3rem;
}

.h-600 {
  height: 600px;
}

.flex-1 {
  flex: 1;
}

/* Extra */

.big-text {
  font-family: "Epilogue";
  font-weight: 1000;
  font-size: 2rem;
  color: var(--ink-20);

  margin: 0 0 0 4rem;
}

.separator {
  width: calc(100vw - 100px);
  height: 1px;
}

.reverse-y {
  transform: scaleY(-1);
}

.animated-underline {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.animated-underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 2;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: var(--ink);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.animated-underline.light:after {
  background: var(--light);
}

.animated-underline:hover:after {
  width: 100%;
  left: 0;
}
